pipeline/pip_export_TR_WITHDRAWAL_REQUEST.json
{
	"name": "pip_export_TR_WITHDRAWAL_REQUEST",
	"properties": {
		"description": "出力回数0件のデータを対象に4ファイルを出力する\n出力回数をカウントアップする\n２回続けて実行すると対象０件となりファイルが削除される\nリランする場合は export_count を 0に更新してから実行する\n\n■ テスト用に・・\n何度でも実行できるよう\nExportCountUp は無効化してある",
		"activities": [
			{
				"name": "ForEach bank_code",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray('0001', '0005', '0009', '9900')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy TR_WITHDRAWAL_REQUEST",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[dbo].[PROC_ADF_SEND9999]",
									"storedProcedureParameters": {
										"in_bank_code": {
											"type": "String",
											"value": {
												"value": "@item()",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "00:10:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dst_db_none",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dst_blob_SEND9999",
									"type": "DatasetReference",
									"parameters": {
										"bank_code": "@item()"
									}
								}
							]
						},
						{
							"name": "If Check Error Line",
							"description": "正常時は固定長なので１カラム\n異常時は２カラムになるので、Prop_1があったらエラーとする\n    Prop_0: エラーコード\n    Prop_1: メッセージ",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup SEND9999",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@contains(string(activity('Lookup SEND9999').output.firstRow), 'Prop_1')\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Fail SEND9999",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@activity('Lookup SEND9999').output.firstRow.Prop_1",
												"type": "Expression"
											},
											"errorCode": {
												"value": "@activity('Lookup SEND9999').output.firstRow.Prop_0",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Lookup SEND9999",
							"description": "出力されたファイルの先頭をする取得する",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy TR_WITHDRAWAL_REQUEST",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.00:10:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "dst_blob_SEND9999",
									"type": "DatasetReference",
									"parameters": {
										"bank_code": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							}
						},
						{
							"name": "If Check Zero Line",
							"description": "１行目（Prop_0）が空、または'9'だけの場合は\n該当データなしなので\n出来上がったファイルを削除しておく",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Lookup SEND9999",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@or(\n  or(\n    equals(activity('Lookup SEND9999').output.firstRow, null),\n    equals(trim(string(activity('Lookup SEND9999').output.firstRow.Prop_0)), '')\n  ),\n  or(\n    equals(trim(string(activity('Lookup SEND9999').output.firstRow.Prop_0)), '9'),\n    equals(trim(string(activity('Lookup SEND9999').output.firstRow.Prop_0)), 'null')\n  )\n)\n",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Delete Zero File",
										"type": "Delete",
										"dependsOn": [],
										"policy": {
											"timeout": "0.00:10:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataset": {
												"referenceName": "dst_blob_SEND9999",
												"type": "DatasetReference",
												"parameters": {
													"bank_code": {
														"value": "@item()",
														"type": "Expression"
													}
												}
											},
											"enableLogging": false,
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "ExportCountUp",
				"description": "出力回数をカウントアップする\nリランする場合は export_count を 0に更新してから実行する",
				"type": "Script",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ForEach bank_code",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "lnk_fmgpoc_db",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": "UPDATE TR_WITHDRAWAL_REQUEST\nSET export_count = export_count + 1,\n    updated_id = 'pip_export_TR_WITHDRAWAL_REQUEST'\nWHERE export_count = 0;"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"variables": {
			"aaa": {
				"type": "String",
				"defaultValue": "def"
			}
		},
		"folder": {
			"name": "POC"
		},
		"annotations": []
	}
}