pipeline/pip_import_TR_WITHDRAWAL_REQUEST.json
{
	"name": "pip_import_TR_WITHDRAWAL_REQUEST",
	"properties": {
		"activities": [
			{
				"name": "Set uuid",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "uuid",
					"value": {
						"value": "@guid()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy TR_WITHDRAWAL_REQUEST",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set uuid",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "created_id",
								"value": {
									"value": "fmgpoc-adf",
									"type": "Expression"
								}
							},
							{
								"name": "updated_id",
								"value": {
									"value": "fmgpoc-adf",
									"type": "Expression"
								}
							},
							{
								"name": "uuid",
								"value": {
									"value": "@variables('uuid')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AmazonS3ReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "uuid",
									"type": "String"
								},
								"sink": {
									"name": "uuid",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "委託者コード",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "委託者名",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "引き落とし日",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_day",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "取引銀行番号",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_bank_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "取引銀行名",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_bank_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "取引支店番号",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_branch_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "取引支店名",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_branch_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "預金種目（委託者）",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_deposit_type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "口座番号（委託者）",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "consignor_account_no",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "引落銀行番号",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_bank_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "引落銀行名",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_bank_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "引落支店番号",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_branch_code",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "引落支店名",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_branch_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "預金種目",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_deposit_type",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "口座番号",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_account_no",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "預金者名",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_account_name",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "引落金額",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_amount",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "顧客番号",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "withdrawal_customer_no",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_id",
									"type": "String"
								},
								"sink": {
									"name": "created_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							},
							{
								"source": {
									"name": "updated_id",
									"type": "String"
								},
								"sink": {
									"name": "updated_id",
									"type": "String",
									"physicalType": "nvarchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dst_s3yochi_WITHDRAWAL_REQUEST",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "dst_db_TR_WITHDRAWAL_REQUEST",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"uuid": {
				"type": "String",
				"defaultValue": "no_uuid"
			}
		},
		"folder": {
			"name": "POC"
		},
		"annotations": []
	}
}